:root {
    --black: #1c1e22;
    --greyLight: #c8c8c8;
    --greyDark: #272b30;
    --yellow: #ffe300;
}

body {
    background-color: var(--greyDark);
    color: var(--greyLight);
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--greyDark);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity 500ms ease-in, visibility 500ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

#tunnel {
    width: 100%;
}

.title {
    color: var(--yellow);
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}

.btn {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--black);
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    padding-left: 0;
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);

    &-item {
        list-style-type: none;
        height: 0;
        padding-bottom: 25%;
        display: flex;
        justify-content: center;
        position: relative;
        border-right: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
    }

    &-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: inherit;

        &.active {
            color: var(--yellow);
            font-weight: 500;
        }

        &:focus {
            outline: none;
        }
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &-item {
        list-style-type: none;

        &:last-child {
            margin-left: 10px;
        }
    }
}
